{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<p>
    Mean Green Books is an alternative way to purchase books for students who
    are looking to buy used books at a cheaper price than the bookstore.
    Students are able to list the books they want to sell at the price they
    want, without searching for all of the information about the book.
</p>
<p>
    The only information required to post a book is the ISBN. The rest of the
    information is pulled from the internet for the user. The site is designed
    for students attending the University of North Texas and requires the user
    to have a UNT email in order to register.
</p>
<p>
    Users can:
</p>
<div>
    <ul>
        <li>
            list a new book by entering the ISBN.
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            list a new book manually with the title and ISBN
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            search for books with either the ISBN or the title.
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            save posts to their profile to keep up with a particular listing
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            remove posts from their profile
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            use 3<sup>rd</sup> party payment systems to buy/sell books with
            other users
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            comment on posts to: ask questions, set up transactions, etc.
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            update posts for corrections
        </li>
    </ul>
</div>
<div>
    <ul>
        <li>
            delete posts
        </li>
    </ul>
</div>

{% endblock content %}