{% extends "layout.html" %}
{% block content %}
{% for post in posts.items %}
<article class="media content-section">
    <a href="{{ url_for('post', post_id=post.id) }}"><img class="account-img" src="{{ post.image_ref }}"></a>   
    <div class="media-body">
        <div class="card w-75">
            <div class="card-body">
            <a href="{{ url_for('post', post_id=post.id) }}" class="card-title">{{ post.title }}</a>
            <p class="card-text"> Condition: {{ post.condition }}</p>
            <p class="card-price">Price: {{ post.price }}</p>
            <a href="{{ url_for('user_post', username=post.author.username) }}"<small class="text-muted">{{ post.author.username }}</small></a>
            <small class="text-muted">{{ post.date }}</small>
            </div>
        </div>
    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages() %}
    {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
    {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
{% endfor %}
{% endblock content %}