body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    float: left;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .profile {
	  max-width: 700px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 10%;
	  /*box-shadow: 0 2px 3px #000000;*/
  }
  
  .user_photo {
	  width: auto;
	  height: auto;
	  box-shadow: 0 2px 3px #000000;
  }
  
  .left {
	  width: 350px;
	  padding: 0;
	  border-radius: 10px;
	  box-shadow: 0 0px 47px -4px #coral;
  }
  
  .right {
	  border-left: 1px solid #acacac;
	  width: 350px;
	  height: 350px;
	  margin-top: 10px;
	  padding: 30px 10px 10px 10px;
	  border-radius: 0 10px 10px 0;
	  backgroud-color: #ffffff;
	  box-shadow: 0 0px 47px -4px #coral;
  }
  
  .right h1 {
	  font-weight: 600;
  }
  
  .right h2 {
	  font-size: 25px;
  }
  
  .right p {
	  padding-top: 10px;
	  color: #acacac;
  }
  
  .links a {
	  text-decoration: none;
	  padding-right: 10px;
	  color: #acacac;
  }
  
  .links a:hover {
	  color: #black;
	  text-shadow: 0 1px 1px #coral;
	  text-decoration: underline;
  }
  
  .links a img {
	  width: 30px;
	  height: 30px;
  }
  
  }
